<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
    <body>
        <a href="/">Home</a>
        <a href="/tour">Tour</a>

        {% if is_auth %}
            <p>Вітаємо, {{ user_data.username }} !</p>
        {% else %}
            <a href="/registration">Registration</a>
            <a href="/login">Login</a>
        {% endif %}

      
        {% block content %}
        
        {% endblock %}
    </body>
</html>


